
<ion-content>
    <div class="logo">
        <img src="../../assets/img/logo.png">
      </div>
    <ion-slides pager="true" [options]="slideOpts" class="slidesContainer">
        
        <ion-slide>
           
          <div class="contentSlide">
              <div class="textS">
                  <h1>ADOPTA</h1>
                  <p>Un amigo te espera</p>
              </div>
              
              
          </div>
          
        </ion-slide>
        <ion-slide>
          
          <div class="contentSlide">
              <div class="textS">
                  <h1>VOLUNTARIO</h1>
                  <p>Puedes ayudar en emergencias</p>
              </div>
             
          </div>
        </ion-slide>
        <ion-slide>
         
          <div class="contentSlide">
              <div class="textS">
                  <h1>DONACIONES</h1>
                  <p>Con tu ayuda es posible salvar a nuestros amigitos</p>
              </div>
              
            
          </div>
        </ion-slide>
      </ion-slides>
      <div class="btnsIR">
          <ion-button  href="/login" shape="round" class="bntIS" color="light"><p>Iniciar sesión</p></ion-button>
        <ion-button color="primary" href="/registro" shape="round" class="bntRG"><p>Registrarme</p></ion-button>
      
      
      </div>

   <!--<div class="inicio">
      
      <div class="options">
        <div class="logo">
          <img src="../../assets/img/logo.png">
        </div>
        <div class="btns">
            <ion-button  href="/login" shape="round" class="bntIS" color="light">Iniciar sesión</ion-button>
            <ion-button color="primary" href="/registro" shape="round" class="bntRG">Registrarme</ion-button>
        </div>
      </div>
    </div>-->
  </ion-content>

  

  
  