h2,h1,h4,h5,h3{
    font-family: 'Righteous', cursive;

}
.carga{
    text-align: center;
    height: 100%;
    width: 100%;
    position: relative;
    .header-carga{
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        ion-card{
            width: 200px;
            height: 200px;
            padding: 0;
            margin: 0;
            margin-bottom: 1rem;
            ion-card-content{
                padding: 0;
                margin: 0;
                width: 100%;
                height: 100%;
            }
        }
    }
}

ion-header{
    ion-title{
        color: #3bbfad;
    }
}

.header-perfil{
    width: 100%;
    height: 300px;
    .swiper-container {
        width: 100%;
        height: 100%;
        
      }
      .swiper-slide {
        background-position: center;
        background-size: cover;
        img{
            width: 100%;
            height: 100%;
        }
      }
}
.visib{
    display: flex;
}
.content-perfil{
    
    text-align: center;
    margin-bottom: 1rem;
    .mascota-name{
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
        h2{
            color: #3bbfad;
            text-transform: uppercase;
    
        }
        span{
            border-top: 2px solid #3bbfad;
            width: 10%;
            height: 5px;
        }
    }
    .mascota-desc{
        width: 100%;
        padding: 1rem 1rem;
        .fund{
            p{
                font-family: 'Exo', sans-serif;

                i{
                    color: #3bbfad;
                }
            }
        }
        p{
            font-family: 'Exo', sans-serif;
            font-size: 18px;
        }
    }
    .mascota-options{
        display: none;
        justify-content: center;
        padding: 1rem 1rem;
        .itemOP{
            ion-item{
                ion-label{
                    font-family: 'Exo', sans-serif;
                    font-size: 18px;
                }
                i{
                    color: #3bbfad;
                    font-size: 18px;
                }
            }
        }

    }
    .mascota-vacunas{
        display: none;
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
        padding: 1rem 1rem;
        width: 100%;
        width: 100%;
        h5{
            margin-top: 0;
        }
        .options{
            display: flex;
            flex-direction: row;
            justify-content: center;
            flex-wrap: wrap;
            width: 100%;
            padding: 0 1rem;
            width: 100%;
    
            p{
                font-family: 'Exo', sans-serif;
                margin: .5rem;
                font-size: 20px;
    
                i{
                    color: #3bbfad;
                }
            }
        }
       
        span{
            border-top: 2px solid #3bbfad;
            width: 10%;
            height: 5px;
        }
    }
    
}

ion-content{
    position: relative;
}
ion-footer{
    p{
        margin: 0;
        width: 100%;
        text-align: center;
    }
    display: flex;
    justify-content: center;
    align-items: center;
    background: #3bbfad;
    padding: .5rem;
    color: white;
    font-family: 'Righteous', cursive;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
}

