.cards{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  padding: 0;
  margin: 0;

  ion-card{
    width: 10rem;
    height: 12rem;

    ion-card-header{
      padding: 0;
      width: 100%;
      height: 80%;
      img{
        width: 100%;
        height: 100%;
      }
    }
    ion-card-content{
      padding: 0;
      width: 100%;
      height: 20%;
      display: flex;
      justify-content: center;
      align-items: center;
      ion-card-title{
        width: 100%;
        color: #3bbfad;
        font-family: 'Righteous', cursive;
        text-align: center;
        padding: 0 2px;
        overflow:hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
      }
      
    }
  }
}
.searchbar-input {
  background: #FFF !important;
  border-radius: 30px !important;
  height: 40px !important;
  max-width: 400px;
  font-size: 1.25em !important;
  border: 1px solid transparent;
}
ion-header{
  transition: 1s ease-in-out;
  transform: translateY(0px);
  max-height: 2rem;
  --background:#3bbfad;

  ion-toolbar{
    --background:#3bbfad;

    max-height: 2rem;
    display: flex;
    align-items: center;
    ion-buttons{
      color: white;
      max-height: 2rem;
    }
    .searchbar-input {
      background: #FFF !important;
      border-radius: 30px !important;
      height: 40px !important;
      max-width: 400px;
      font-size: 1.25em !important;
      border: 1px solid transparent;
  }
    ion-searchbar{
      max-height: 2rem;
      .searchbar-input-container {
        display: block;
        height: 1.5rem !important;
       
    }
      .searchbar-input.sc-ion-searchbar-md {
        padding-left: unset;
        padding-right: unset;
        -webkit-padding-start: 55px;
        padding-inline-start: 55px;
        -webkit-padding-end: 55px;
        height: 100%;
        padding-inline-end: 55px;
    }
    }
  }
}
.my-custom-menu {
  --width: 500px;
}

.MOVERHE{
  transition: 1s ease-in-out;
    transform: translateY(-33px);
}
.headerFix{
  transition: 1s ease-in-out;

  position: fixed;

}
.contentN{
  transition: 1s ease-in-out;

  transform: translateY(-21px);
}
