
  <ion-header id="headerM" collapse="condense">
      <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button color="ligth" menu="first">
              </ion-menu-button>
        </ion-buttons>
          <ion-searchbar animated class="fg" placeholder=" "></ion-searchbar>
          <ion-buttons slot="end">
              <ion-button color="ligth" (click)="presentModal('msc')">
                  <i class="fa fa-filter" aria-hidden="true"></i>
  
                </ion-button>
          </ion-buttons>
      </ion-toolbar>
    
     
    </ion-header>
 

<ion-content id="divNotificacion" [scrollEvents]="true"
(ionScrollStart)="logScrollStart($event)"
(ionScroll)="logScrolling($event)"
(ionScrollEnd)="logScrollEnd()">
 
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <ion-list class="cards">
      
      <ion-card *ngFor="let item of mascotas">
          <ion-card-header>
            <img src="{{url + 'obtener-foto-mascota/' + item.fotos[0].name}}" (click)="perfilMascota(item._id)">
          </ion-card-header>
        
          <ion-card-content>
            <ion-card-title (click)="perfilMascota(item._id)">{{item.nombre}}</ion-card-title>
          </ion-card-content>
        </ion-card>
        <p *ngIf="status == true">No se encontró más mascotas</p>
    </ion-list>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="agregando mascotas...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
   <!--<div class="cards">
      <ion-card>
        <ion-card-header>
          <img src="../../assets/img/a536c6ad7b1d4473ebc6ddf5b19e7e88.jpg">
        </ion-card-header>
      
        <ion-card-content>
          <ion-card-title>Card Title</ion-card-title>
        </ion-card-content>
      </ion-card>
      <ion-card>
          <ion-card-header>
            <img src="../../assets/img/a536c6ad7b1d4473ebc6ddf5b19e7e88.jpg">
          </ion-card-header>
        
          <ion-card-content>
            <ion-card-title>Card Titlesadsa asdssd</ion-card-title>
          </ion-card-content>
        </ion-card>
        <ion-card>
            <ion-card-header>
              <img src="../../assets/img/a536c6ad7b1d4473ebc6ddf5b19e7e88.jpg">
            </ion-card-header>
          
            <ion-card-content>
              <ion-card-title>Card Title</ion-card-title>
            </ion-card-content>
          </ion-card>
          <ion-card>
              <ion-card-header>
                <img src="../../assets/img/a536c6ad7b1d4473ebc6ddf5b19e7e88.jpg">
              </ion-card-header>
            
              <ion-card-content>
                <ion-card-title>Card Title</ion-card-title>
              </ion-card-content>
            </ion-card>
             
    </div>-->
    
  
  </ion-content>